<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" />
    <title>Maze Game</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/postcommand.js"></script>
</head>
<body>
<div id="postResultDiv" align="center"></div>
<div class="container">
    <h2>Stacked form</h2>
    <form id="playerForm">
        <div class="form-group">
            <label for="mazePlayer">Player ID:</label> <input type="text" class="form-control" id="mazePlayer" placeholder="Enter Player ID"
                                                             name="mazePlayer">
        </div>
        <div class="form-group">
            <label for="mazeCommand">Command:</label> <input type="text" class="form-control" id="mazeCommand" placeholder="Enter Command"
                                                                  name="mazeCommand">
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
</div>




</body>
</html>